//estructura-termos

.mainDeTermos{
    height: 400px;
    .contenedorImagenesGrid{
        .contenedorDeContenedores{
            display: flex;
            align-items: flex-start;
        }
    }
}